nav.navbar.navbar-default.navbar-fixed-top(
    ng-controller = 'NavbarController',
    ng-class = '{nonav: ("login" | isState)}'
  )
  button.pull-left.visible-xs-inline-block(
    ng-show = '("home.post" | isState) || ("home.signup" | isState)', 
    ui-sref = 'home') 
    span.icon.ion-arrow-left-c  BACK
  
  
  a.navbar-brand.hidden-xs
    img(qb-no-drag, ng-show = 'loggedIn', src = 'assets/logotype-white.svg')

  button.pull-right(ng-click = 'logout()') LOGOUT
