nav.navbar {
  .paper-shadow(1);
  background: @brand-primary;
  border-bottom: none;

  .navbar-brand {
    padding: 7px;
    img {
      max-height: 36px;
      max-width: (36 / 84) * 360px;
    }
  }
}
