.fragment#frag-view-post

  h1.text-nowrap {{ post.title }}
  
  include ../celtic-sep.part.jade
  
  .post-owner.clearfix
    img.profile-image(qb-no-drag, qb-profile-img = '{{ post.uuid }}')
    .post-greeting
      span.lead(qb-greeting = '{{ post.postid }}')
  
      h2 Objective
      p {{ post.description }}
      h2 Conditions
      p Quest must be completed 
        span.accent {{ post.endDate | ago }}
        |  from now.
      h2 Reward
      span.reward.text-success {{ post.comp | currency:$:2 }}
      
  div.tag-list.text-right
    span.label.label-default.label-lg(
      ng-repeat = 'tag in post.tags track by $index'
    ) {{ tag }}
    
  include ../celtic-sep.part.jade
    
  button.btn.btn-lg.btn-block.btn-default(
    ng-show = 'ownedByMe() && !isGuest()') Edit Quest
  button.btn.btn-lg.btn-block.btn-loading.btn-success(
    ng-class = '{"btn-success": !accepted, "btn-danger": accepted}',
    ng-show = '!ownedByMe() && !isGuest()',
    qb-multistate = 'acceptButton',
    ng-click = 'accept()')
    span.icon.ion-loading-a.loading
    span.icon.ion-checkmark-round.success
    span.icon.ion-close-round.error
    span.caption {{ accepted ? 'Abandon this Quest...' : 'Accept this Quest!' }}
  button.btn.btn-lg.btn-block.btn-success(
    ng-show = 'isGuest()', ui-sref = 'home.signup') Sign up to accept this Quest! 
