.view#view-home
  
  div(snap-content)
    .tasklist-header.clearfix
      .input-group.input-group-lg
        input.form-control(type = 'search', placeholder = 'Search')
    
    ul.tasklist
      li.post(ng-repeat = 'task in tasks()', ui-sref = 'home.post({post: task.postid})', ui-sref-active = 'active')
        .post-info.clearfix
          .post-title.text-nowrap {{ task.title }}
          .post-time {{ task.date | ago }}
        .post-reward {{ task.comp | currency:$:2 }} 

              
  div(snap-drawers)
    div(snap-drawer = 'right')
      ui-view
        .post-detail-placeholder
          img.wind-rose(src = 'assets/wind-rose.svg')
          p.lead.text-muted.text-center(ng-hide = 'isGuest()')
            | Welcome back, {{ user().name }}!
            br
            | New quests and adventures await you!
          p.lead.text-muted.text-center(ng-show = 'isGuest()')
            | Welcome, the strange one!
            br
            a(ui-sref = 'home.signup') Sign up
            |  to embark on new adventures!
