.view#view-home
  
  div(snap-drawers)
    div(snap-drawer = 'right')
      h2 Hello Drawer!
  
  div(snap-content)
    .tasklist-header
      .input-group.input-group-lg
        input.form-control(type = 'search', placeholder = 'Search')
    
    ul.tasklist
      li.post(ng-repeat = 'task in tasks()')
        .post-info
          .post-time {{ task.date | ago }}
          .post-title {{ task.title }}
          .post-tags
            span.label.label-default.label-xs(ng-repeat = 'tag in task.tags | limitTo:3') 
              | {{ tag }}
