.view#view-home
  
  div(snap-content)
    .tasklist-header.clearfix
      .input-group.input-group-lg
        input.form-control(type = 'search', placeholder = 'Search')
    
    ul.tasklist
      li.post(ng-repeat = 'task in tasks()', ui-sref = 'home.post({post: task.postid})')
        .post-info.clearfix
          .post-title.text-nowrap {{ task.title }}
          .post-time {{ task.date | ago }}
        .post-reward {{ task.comp | currency:$:2 }} 

              
  div(snap-drawers)
    div(snap-drawer = 'right')
      ui-view
        img.wind-rose(src = 'assets/wind-rose.svg')
