.view#view-home {

  background: #AAAAAA;

  [snap-drawer] {
    background: #AAAAAA;
  }
  [snap-content] {
    background: #F3F3F3;
    border-right: 1px solid #DDD;
    .paper-shadow(1);
  }

  .tasklist-header {
    background: #FBFBFB;

    .input-group { display: block; }
    .input-group input {
      border: none;
      border-bottom: 1px solid #DDD;
      &:focus { box-shadow: none; }
    }
  }

  ul.tasklist {
    list-style: none;
    padding: 0;

    > li {
      .hoverable(#FBFBFB);
      padding: 15px;
      border-width: 1px 0 1px 0;
      border-style: solid;
      border-color: #DDD;
      &:first-of-type { border-top: none; }
      & + li { margin-top: -1px; }
    }
  }

  .post {
    position: relative;
    .post-info { margin-right: 100px; }
    .post-reward {
      text-align: right;
      position: absolute;
      right: 15px;
      top: 15px;
      bottom: 15px;
      width: 100px;

      font-size: 24px;
      font-weight: 200;
      line-height: 36px;
      color: @brand-primary;
    }
    .post-time {
      font-size: 12px;
      color: @gray-light;
    }
    .post-title {
      font-size: 18px
    }
    .post-tags {
      margin-top: 4px;
      .label { background: #AAA; }
      .label + .label { margin-left: 3px; }
    }
  }

  .wind-rose {
    .square(256px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media (max-width: @screen-xs-max) {

}

@media (min-width: @screen-sm-min) {
  [snap-content] {
    max-width: 300px;
    transform: none!important;
  }
  .snap-drawer-right {
    left: 300px;
    width: auto;
    right: 0;
  }
}

@media (min-width: @screen-md-min) {
  [snap-content] { max-width: 350px; }
  .snap-drawer-right { left: 350px; }
}

@media (min-width: @screen-lg-min) {
  [snap-content] { max-width: 400px; }
  .snap-drawer-right { left: 400px; }
}

@import "post-detail/post-detail.import.less";
