
// Import Bootstrap mixins and variables
@bootstrap-path: "../bower_components/bootstrap/less";
@import "@{bootstrap-path}/variables.less";
@import "@{bootstrap-path}/mixins.less";

// Import Shared Styles
@import "shared/shared.less";

// Import View-specific styles
@import "views/login/login.import.less";
@import "views/home/home.import.less";

body {
  background-image: url(assets/map-bg-2.jpeg);
  background-size: cover;
}

// Position ui-view accordingly
body > ui-view,
body > [ui-view] {
  position: absolute;
  top: @navbar-height;
  bottom: 0;
  left: 0;
  width: 100%;

  overflow: hidden;

  transition: all 0.3s ease-out;
  &.nonav { top: 0; }
}

.accent { color: @brand-primary; }


button.btn-loading {

  .icon.loading,
  .icon.error,
  .icon.success { display: none; }

  &.loading .icon.loading { display: inline-block; }
  &.error .icon.error   { display: inline-block; }
  &.success .icon.success { display: inline-block; }

  &.loading .caption,
  &.error .caption,
  &.success .caption { display: none; }


}

body:after { color: transparent; }

// JS Breakpoint detection
@media (max-width: @screen-xs-max) {
  body:after { content: 'xs'; }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  body:after { content: 'sm'; }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  body:after { content: 'md'; }
}
@media (min-width: @screen-lg-min) {
  body:after { content: 'lg'; }
}

//
.input-group.input-group-lg.float-label {

  background: white;

  > input,
  > textarea {
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    background: none;
  }

  position: relative;

  > input,
  > textarea {
    height: 56px;
    padding: 16px 10px 16px 10px;
    border: 1px solid #DDD;
    border-radius: 2px;
    transition: all 0.3s ease;
    & + label {
      position: absolute;
      left: 12px;
      top: 16px;
      font-size: 18px;
      font-weight: 300;
      color: @gray-light;
      transition: all 0.3s ease;
    }
  }
  > input:focus,
  > textarea:focus {
      border-color: lighten(@brand-highlight, 20%);
      & + label { color: @brand-highlight; }
    }
  > input:focus,
  > input.has-value,
  > textarea:focus,
  > textarea.has-value {
    padding: 23px 10px 9px 10px;
    & + label {
      top: 5px;
      font-size: 12px;
    }
  }



}
