.view#view-login {

  background-image: url(assets/map-bg.jpeg);

  .login-form {

    position: relative;

    max-width: 500px;
    margin: 0 auto;
    margin-top: 180px;

    //background: fadeout(white, 90%);

    .big-logo {
      display: block;
      width: 361px;
      height: 84px;
      margin: 30px auto;
    }

    // Input forms
    .input-group {
      display: block;
      max-width: 360px;
      margin: 0 auto;

      input {
        border-width: 2px;
        position: relative;
        z-index: 0;
        border-color: #999;
        padding: 15px 24px;
        height: 24px + 30px;
      }
      input:focus {
        z-index: 1;
        border-color: @brand-highlight;
      }
    }
    .input-group.top {
      &, & > input { .border-top-radius(6px); }
    }
    .input-group.bottom {
      &, & > input { .border-bottom-radius(6px); }
      & > input {
        margin-top: -1px;
      }
    }

    .form-group {
      margin: 30px auto;
    }

    .btn.btn-block {
      max-width: 360px;
      margin: 0 auto;
      margin-top: 30px;
    }
  }

}
