.view#view-login
  
  form.login-form(name = 'login-form', qb-multistate = 'loginForm')
    
    img.big-logo(src = 'assets/logotype-white.svg')
    
    .form-group.clearfix
      .input-group.input-group-lg.top
        input.form-control(
          type = 'text', 
          placeholder = 'email', 
          ng-model = 'credentials.email'
        )
      .input-group.input-group-lg.bottom
        input.form-control(
          type = 'password', 
          placeholder = 'password', 
          ng-model = 'credentials.password'
        )
    
    button.btn.btn-lg.btn-block.btn-primary(type = 'submit', ng-click = 'login()') LOGIN
