.view#view-login
  
  form.login-form(name = 'login-form')
    
    img.big-logo(src = 'assets/logotype-white.svg')
    
    .form-group.clearfix
      .input-group.input-group-lg.top
        input.form-control(type = 'text', placeholder = 'email')
      .input-group.input-group-lg.bottom
        input.form-control(type = 'password', placeholder = 'password')
    
    button.btn.btn-lg.btn-block.btn-primary LOGIN
