.view#view-login
  
  ui-view
    form.login-form.anim-zoom-out(name = 'login-form', qb-multistate = 'loginForm')
      
      img.big-logo(qb-no-drag, src = 'assets/logotype-white.svg')
      
      .form-group.clearfix
        .input-group.input-group-lg.top.clearfix(qb-float-label)
          input.form-control(
            type = 'text',
            ng-model = 'credentials.email',
            ng-class = '{"has-value": credentials.email }'
          )
          label email
        .input-group.input-group-lg.bottom.clearfix(qb-float-label)
          input.form-control(
            type = 'password',
            ng-model = 'credentials.password'
          )
          label password
      
      button.btn.btn-lg.btn-block.btn-primary.btn-loading(
        type = 'submit',
        ng-click = 'login()',
        qb-multistate = 'loginButton'
      ) 
        span.icon.ion-load-a.animate-spin.loading
        span.icon.ion-checkmark-round.success
        span.icon.ion-close-round.error
        span.caption LOGIN
      
      .celtic-sep
        img.glyph(src = 'assets/separator-glyph.svg')
      
      button.btn.btn-lg.btn-block.btn-default(type = 'button', ng-click = 'guest()') 
        | Continue as Guest
