.fragment#frag-signup
  
  h1 Signup
  
  include ../celtic-sep.part.jade
  
  
  form(name = 'signup', ng-submit = 'submit()')
    
    h2.text-center About You
    
    .input-group.input-group-lg.clearfix(qb-float-label)
      input.form-control(name = 'name', type = 'text', ng-model = 'data.name', required)
      label Name
    
    .input-group.input-group-lg.clearfix(qb-float-label)
      input.form-control(type = 'email', ng-model = 'data.email', required)
      label Email Address

    .input-group.input-group-lg.clearfix(qb-float-label)
      input.form-control(type = 'tel', ng-model = 'data.phone', required)
      label Phone Number
        
    h2.text-center Your Password
        
    .input-group.input-group-lg.clearfix(qb-float-label)
      input.form-control(type = 'password', ng-model = 'data.pass', required)
      label Password
      
    .input-group.input-group-lg.clearfix(qb-float-label)
      input.form-control.share-top(type = 'password', ng-model = 'data.verify', compareTo = 'data.pass', required)
      label Verify Password
      
    include ../celtic-sep.part.jade  
    
    .errmsg.text-center(ng-class = '{show: errmsg}')
      span.text-danger {{ errmsg }}
    
    .center-buttons
      button.btn.btn-lg.btn-default(type = 'button', ui-sref = 'home') Cancel
      button.btn.btn-lg.btn-success.btn-loading(
        qb-multistate = 'submitButton',
        type = 'submit') 
        span.icon.ion-loading-a.loading
        span.icon.ion-checkmark-round.success
        span.icon.ion-close-round.error
        span.caption Submit
  
